<h2>New Trial Matches Straight to your Inbox</h2>
<p>By creating an account, you will be able to receive information about trials tailored for you as soon as they are available.<br>
Registering takes 30 seconds and you can unsubscribe at any time.<br>
What are you waiting for?</p>


<div class="float_left search_bar" style="width:200px;">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

<div class="clear"></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

<div class="clear"></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="clear"></div>
  <hr>
  <%= radio_button_tag(:vt, "patient", (session[:vt] == "patient" ? true : false)) %>

  <!--  @TODO? Need to put in global variable for disease -->
  <%= label_tag(:vt_patient, "I have a brain tumor") %>
  <div class="clear"></div>
  <%= radio_button_tag(:vt, "control", (session[:vt] == "control" ? true : false)) %>
  <%= label_tag(:vt_control, "I am a control") %>
  <div class="clear"></div>
  <hr>

  <%= label_tag(:age, "Age:", :class => "inlineFormLabel") %>
  <%= text_field_tag(:age, session[:age], :class => "inlineFormField") %>
  <div class="clear"></div>

  <%= label_tag(:gender, "Gender:", :class => "inlineFormLabel") %>

  <div class="genderContainer" >
  <%= radio_button_tag(:gender, "male", (session[:gender] == "male" ? true : false)) %>
  <%= label_tag(:gender_male, "M") %>
  <%= radio_button_tag(:gender, "female", (session[:gender] == "female" ? true : false)) %>
  <%= label_tag(:gender_female, "F") %>
</div>
 <div class="clear"></div>
 <hr>

  <%= label_tag(:pc, "Zip Code:", :class => "inlineFormLabel") %>
  <%= text_field_tag(:pc, session[:pc], :class => "inlineFormField") %>
  <%= select_tag(:td,
  options_for_select([['Will travel 25 miles', 25], ['Will travel 50 miles', 50], ['Will travel 100 miles', 100], ['Will travel 300 miles', 300]], session[:td]||100 )) %>
 

<!-- @TODO: ADD IN SESSION INPUTS TO FORM -->
 
<div class="clear"></div>

  <div style="margin-top:2em;"><%= f.submit "Sign up", :class => "btn btn-orange" %></div>
<% end %>

<div class="clear" style="margin-bottom:120px;"></div>
</div>
