<h2>Sign up</h2>
    <div style="float:right;"><%= link_to "Sign In With Twitter", user_omniauth_authorize_path(:twitter) %></div>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :latitude %><br />
  <%= f.text_field :latitude %></div>

  <div><%= f.label :longitude %><br />
  <%= f.text_field :longitude %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
