<h2>Trial Matches Straight to your Inbox</h2>
<p>By creating an account, we will be able to email you tailored matches as they become available. Registering takes 2 minutes and you can unsubscribe at any time.</p>
    <div style="float:right;"><%= link_to "Sign In With Twitter", user_omniauth_authorize_path(:twitter) %></div>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

<div class="clear"></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

<div class="clear"></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>


<!-- @TODO: ADD IN SESSION INPUTS TO FORM -->
 
<div class="clear"></div>
      <%= session[:age] %>
      <%= session[:vt] %>
      <%= session[:gender] %>
      <%= session[:pc] %>
      <%= session[:td] %>

  <div><%= f.submit "Sign up" %></div>
<% end %>
<div class="clear"></div>

<%= render "devise/shared/links" %>
