<%= form_tag("", method: "get") do %>
  <%= label_tag(:q, "Search by Keyword:") %>
  <%= text_field_tag(:q, params[:q]) %>

<div class="clear"></div>
<hr>
<!-- @TODO Add countries to make international -->
  <%= label_tag(:pc, "Zip Code:", :class => "inlineFormLabel") %>
  <%= text_field_tag(:pc, params[:pc], :class => "inlineFormField") %>
  <%= select_tag(:travel_distance,
  	options_for_select([['Will travel 25 miles', 25], ['Will travel 50 miles', 50], ['Will travel 100 miles', 100], ['Will travel 300 miles', 300]], params[:travel_distance]||100 )) %>
<div class="clear"></div>
<hr>
	<%= radio_button_tag(:volunteer_type, "patient", (params[:volunteer_type] == "patient" ? true : false)) %>
<!-- 	radio_button_tag(:ad_type, "free", :checked => (params[:ad_type] == nil ? false : params[:ad_type])) -->
<!-- 	@TODO? Need to put in global variable for disease -->
	<%= label_tag(:volunteer_type_patient, "I have a brain tumor") %>
<div class="clear"></div>
	<%= radio_button_tag(:volunteer_type, "control", (params[:volunteer_type] == "control" ? true : false)) %>
	<%= label_tag(:volunteer_type_control, "I am a control") %>
<div class="clear"></div>
<hr>

  <%= label_tag(:age, "Age:", :class => "inlineFormLabel") %>
  <%= text_field_tag(:age, params[:age], :class => "inlineFormField") %>
<div class="clear"></div>

  <%= label_tag(:gender, "Gender:", :class => "inlineFormLabel") %>

  <div class="genderContainer" >
    <%= radio_button_tag(:gender, "male", (params[:gender] == "male" ? true : false)) %>
    <%= label_tag(:gender_male, "M") %>
    <%= radio_button_tag(:gender, "female", (params[:gender] == "female" ? true : false)) %>
    <%= label_tag(:gender_female, "F") %>
  </div>
<hr>
  <%= submit_tag("Update Results", :class => "btn btn-orange") %>
<% end %>
<%= link_to "clear search", root_path, :class =>"alignright" %>
<div class="clear" style="margin-bottom:50px;"></div>
