<%= form_tag("", method: "get") do %>
  <%= label_tag(:q, "Search by Keyword:") %>
  <%= text_field_tag(:q, params[:q]) %>

<div class="clear"></div>
<hr>
<!-- @TODO Add countries to make international -->
  <%= label_tag(:pc, "Zip Code:", :class => "inlineFormLabel") %>
  <%= text_field_tag(:pc, params[:pc], :class => "inlineFormField") %>
  <%= select_tag(:td,
  	options_for_select([['Will travel 25 miles', 25], ['Will travel 50 miles', 50], ['Will travel 100 miles', 100], ['Will travel 300 miles', 300]], params[:td]||100 )) %>
<div class="clear"></div>
<hr>
	<%= radio_button_tag(:vt, "patient", (params[:vt] == "patient" ? true : false)) %>
<!-- 	radio_button_tag(:ad_type, "free", :checked => (params[:ad_type] == nil ? false : params[:ad_type])) -->
<!-- 	@TODO? Need to put in global variable for disease -->
	<%= label_tag(:vt_patient, "I have a brain tumor") %>
<div class="clear"></div>
	<%= radio_button_tag(:vt, "control", (params[:vt] == "control" ? true : false)) %>
	<%= label_tag(:vt_control, "I am a control") %>
<div class="clear"></div>
<hr>

  <%= label_tag(:age, "Age:", :class => "inlineFormLabel") %>
  <%= text_field_tag(:age, params[:age], :class => "inlineFormField") %>
<div class="clear"></div>

  <%= label_tag(:gender, "Gender:", :class => "inlineFormLabel") %>

  <div class="genderContainer" >
    <%= radio_button_tag(:gender, "male", (params[:gender] == "male" ? true : false)) %>
    <%= label_tag(:gender_male, "M") %>
    <%= radio_button_tag(:gender, "female", (params[:gender] == "female" ? true : false)) %>
    <%= label_tag(:gender_female, "F") %>
  </div>
<hr>

<% if params[:mf].present? %>
    <%= label_tag(:ty, "Type:", :class => "inlineSelectLabel") %>
    <%= select_tag(:ty,
    options_for_select(  [['All', 'all'],['Observational', 'obs'], ['Interventional', 'int']], params[:ty]||'all' ), :class => "inlineFormSelect") %>
<div class="clear"></div>

    <%= label_tag(:ph, "Phase:", :class => "inlineSelectLabel") %>
    <%= select_tag(:ph,
    options_for_select(  [['All', 'all'],['Phase 0', '0'], ['Phase 1', '1'],['Phase 2', '2'], ['Phase 3', '3'],['Phase 4', '4']], params[:ph]||'all' ), :class => "inlineFormSelect") %>
<div class="clear"></div>


    <%= label_tag(:fda, "FDA:", :class => "inlineSelectLabel") %>
    <%= select_tag(:fda,
    options_for_select(  [['All', 'all'],['Regulated', 'reg'], ['Non Regulated', 'nreg']], params[:fda]||'all' ), :class => "inlineFormSelect") %>
<div class="clear"></div>
<hr>


<% end %>

  <%= hidden_field_tag 'mf', params[:mf], id: "mf_capture" %>
  <%= hidden_field_tag 'ot', params[:ot], id: "ot_capture" %>

  <%= submit_tag("Update Results", :class => "btn btn-orange") %>
<% end %>



<% if params[:mf].present? %>
  <%= link_to "less filters", root_path(:q => params[:q],:pc => params[:pc],:td => params[:td],:vt => params[:vt],:age => params[:age],:gender => params[:gender],:age => params[:age],:ot => params[:ot],:anchor => "h"), :class =>"alignleft" %>
  <% else %>
  <%= link_to "more filters", root_path(:q => params[:q],:pc => params[:pc],:td => params[:td],:vt => params[:vt],:age => params[:age],:gender => params[:gender],:age => params[:age],:ot => params[:ot],:mf => "t",:anchor => "h"), :class =>"alignleft" %>
<% end %>

<%= link_to "clear", root_path(:anchor => "h"), :class =>"alignright" %>
<div class="clear" style="margin-bottom:50px;"></div>