<h1>Listing trials</h1>

<% @trials.each do |trial| %>
<table class="table">
  <tbody>
    
      <tr>
        <td colspan="3"><%= link_to trial.title, trial %></td>
      </tr>
        <td>Study Type:</td><td colspan="2"><%= trial.description %></td>
      </tr>
        <td>Study Focus:</td><td colspan="2"><%= trial.sponsor %></td>
      </tr>
        <td>Sponsor:</td><td colspan="2"><%= trial.country %></td>
      </tr>
        <td>Status:</td><td colspan="2"><%= trial.focus %></td>
       </tr>
      </tr>
      <tr><td>Nearest Locations</td></tr>
      <% trial.sites.each do |site| %>
       <tr> 
        <td></td><td><%= site.facility %></td><td><%= "#{site.distance_from([40.7522926,-73.9900131]).round()} miles away"  %></td>
       </tr>
       <% end %>

  </tbody>
</table>
<br>
<hr>
    <% end %>


<%= link_to 'New Trial', new_trial_path %><br>
<%= link_to 'Create Account', new_user_registration_path %>

