
<div class="search_bar">
<%= render "searchform" %>

</div>

<div class="search_results">
  


  <% if @trials.nil? %>
    <p>Your search has no results. Expand your criteria.</p>
  <% else %>
  <p style="float:right;">Displaying <%=@trials.total_entries%> trials.</p>

<div class="pagination2">
  <%= will_paginate @trials, :container => false %>
</div>
  
  <% @trials.each do |trial| %>
  <table class="table">
    <tbody>
      
        <tr>
          <td colspan="2"><%= link_to trial.title, trial %></td>
        </tr>
          <td>Study Type:</td><td><%= trial.study_type %></td>
        </tr>
          <td>Study Focus:</td><td><%= trial.focus %></td>
        </tr>
          <td>Sponsor:</td><td><%= trial.sponsor %></td>
        </tr>
          <td>Status:</td><td><%= trial.overall_status %></td>
         </tr>
        </tr>
        <tr><td>Nearest Location</td><td>
        <%= trial.sites.first.facility %>
        </td></tr>


    </tbody>
  </table>
      <% end %>


  <p style="float:right;">Displaying <%=@trials.total_entries%> trials.</p>
     <div class="pagination2" style="margin-bottom:50px;">
      <%= will_paginate @trials, :container => false %>
    </div>
  
     <% end%>
</div>

<div class="clear"></div>
<!-- 
<%= link_to 'New Trial', new_trial_path %><br>
<%= link_to 'Create Account', new_user_registration_path %><br>
<%= link_to 'Importer', importer_show_path %> -->

