<div class="search_bar">
  <%= render "searchform" %></div>

<div class="search_results">

  <% if @trials.nil? || @trials.empty? %>
  <h3>Your search returned no results.</h3>
  <p>
    Expand your search criteria or
    <%= link_to "create an account", new_user_registration_path %>
    and receive emails about future trials that you may be eligible for.
  </p>
  <% else %>


  <% if params[:commit].present? && cookies[:signup_div_viewed].blank? %>
  <div class="blueAlertDiv">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <p>You match to <span style="font-weight:bold;"><%= @trials.total_entries.to_i %> trials</span> today but new trials come online all the time! <br>
      <%= link_to "Create a profile", new_user_registration_path, class: "bold" %> to receive emails of future matches.</p>
      </div>
  <% end %>

<% if @trials.count > 10 %>
  <div class="pagination2">
    <%= will_paginate @trials, :container =>false %>
  </div>
<% end %>

  <%= form_tag("", method: "get", id: "ot") do %>

  <%= hidden_field_tag 'pc', params[:pc], id: "filter_capture1" %>
  <%= hidden_field_tag 'td', params[:td], id: "filter_capture2" %>
  <%= hidden_field_tag 'age', params[:age], id: "filter_capture3" %>
  <%= hidden_field_tag 'vt', params[:vt], id: "filter_capture4" %>
  <%= hidden_field_tag 'gender', params[:gender], id: "filter_capture5" %>
  <%= hidden_field_tag 'q', params[:q], id: "filter_capture6" %>
  <%= hidden_field_tag 'mf', params[:mf], id: "filter_capture7" %>
  <%= hidden_field_tag 'ty', params[:ty], id: "filter_capture8" %>
  <%= hidden_field_tag 'ph', params[:ph], id: "filter_capture9" %>
  <%= hidden_field_tag 'fda', params[:fda], id: "filter_capture10" %>
  <p style="float:right;">
    Displaying
    <%=@trials.total_entries %>
    <%= @trials.total_entries.to_i >
    1 ? "trials" : "trial" %> by
    <%= select_tag(:ot, options_for_select([['ABC', 'title ASC'], ['Last Updated', 'lastchanged_date DESC']], params[:ot]||'abc' ), :onchange =>("$('#ot').submit()")) %></p>


  <% end %>



  <% @trials.each do |trial| %>
  <table class="table">
    <tbody>

      <tr>
        <td colspan="2">
          <%= link_to trial.title, trial %></td>
      </tr>

      <% if params[:ot] == "lastchanged_date DESC" %>
      <tr>
        <td>Date Updated:</td>
        <td>
          <%= trial.lastchanged_date.strftime("%m/%d/%Y") %></td>
      </tr>
      <% end %>

      <tr>
        <td style="width:120px;">Study Type:</td>
        <td>
          <%= trial.study_type %></td>
      </tr>
      <tr>
        <td>Phase:</td>
        <td>
          <%= trial.phase %></td>
      </tr>
      <tr>
        <td>FDA:</td>
        <td>
          <%= trial.is_fda_regulated %></td>
      </tr>      
      <tr>
        <td>Study Focus:</td>
        <td>
          <%= trial.focus %></td>
      </tr>
<!--       <tr>
        <td>Latitude:</td>
        <td>
          <%= trial.sites.first.latitude unless trial.sites.blank?  %></td>
      </tr>
      <tr>
        <td>Longitude:</td>
        <td>
          <%= trial.sites.first.longitude unless trial.sites.blank? %></td>
      </tr> -->
      <tr>
        <td>Sponsor:</td>
        <td>
          <%= trial.sponsor %></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>
          <%= trial.overall_status %></td>
      </tr>
      <tr>
        <td>Accepts Controls:</td>
        <td>
          <%= (trial.healthy_volunteers == "Accepts Healthy Volunteers") ? "Yes" : "No"   %></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td>
          <%= trial.gender %></td>
      </tr>
      <tr>
        <td>Age:</td>
        <td>
          <%= trial.minimum_age.to_s + " - " + trial.maximum_age.to_s %></td>
      </tr>
      <% unless trial.sites.first.nil? %>
      <tr>
        <td>Nearest Location:</td>
        <td>
          <%= trial.sites.first.facility %></td>
      </tr>
      <% end %></tbody>
  </table>
  <% end %>

<% if @trials.count > 10 %>
  <div class="pagination2" style="margin-bottom:50px;">
    <%= will_paginate @trials, :container =>false %></div>
<% end %>

  <% end%></div>

<div class="clear"></div>
