<h1>Listing trials</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Sponsor</th>
      <th>Country</th>
      <th>Focus</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <td><%= trial.title %></td>
        <td><%= trial.description %></td>
        <td><%= trial.sponsor %></td>
        <td><%= trial.country %></td>
        <td><%= trial.focus %></td>
        <td><%= link_to 'Show', trial %></td>
        <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
        <td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trial', new_trial_path %><br>
<%= link_to 'Create Account', new_user_registration_path %>

