<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>

<table>
  <tr>
    <td>Title</td>
    <td>
      <%= @trial.title %></td>
  </tr>

  <tr>
    <td>Description</td>
    <td>
      <%= @trial.description %></td>
  </tr>

  <tr>
    <td>Detailed Description</td>
    <td>
      <%= @trial.detailed_description %></td>
  </tr>

  <tr>
    <td>Sponsor</td>
    <td>
      </td>
  </tr>

  <tr>
    <td>Country</td>
    <td>
      <%= @trial.country %></td>
  </tr>

  <tr>
    <td>Focus</td>
    <td>
      <%= @trial.focus %></td>
  </tr>

  <tr>
    <td>nct_id</td>
    <td>
      </td>
  </tr>
  <tr>
    <td>official_title</td>
    <td>
      </td>
  </tr>
  <tr>
    <td>agency_class</td>
    <td>
      <%= @trial.agency_class %></td>
  </tr>
  <tr>
    <td>detailed_description</td>
    <td>
      <%= @trial.detailed_description %></td>
  </tr>
  <tr>
    <td>overall_status</td>
    <td>
      </td>
  </tr>
  <tr>
    <td>phase</td>
    <td>
      <%= @trial.phase %></td>
  </tr>
  <tr>
    <td>study_type</td>
    <td>
      <%= @trial.study_type %></td>
  </tr>
  <tr>
    <td>condition</td>
    <td>
      <%= @trial.condition %></td>
  </tr>
  <tr>
    <td>inclusion</td>
    <td>
      <%= @trial.inclusion %></td>
  </tr>
  <tr>
    <td>exclusion</td>
    <td>
      <%= @trial.exclusion %></td>
  </tr>
  <tr>
    <td>gender</td>
    <td>
      <%= @trial.gender %></td>
  </tr>
  <tr>
    <td>minimum_age</td>
    <td>

  </tr>
  <tr>
    <td>maximum_age</td>
    <td>
      </td>
  </tr>
  <tr>
    <td>healthy_volunteers</td>
    <td>
      </td>
  </tr>
  <tr>
    <td>overall_contact_name</td>
    <td>
      <%= @trial.overall_contact_name %></td>
  </tr>
  <tr>
    <td>overall_contact_phone</td>
    <td>
      <%= @trial.overall_contact_phone %></td>
  </tr>
  <tr>
    <td>overall_contact_email</td>
    <td>
      <%= @trial.overall_contact_email %></td>
  </tr>
  <tr>
    <td>location_countries</td>
    <td>
      </td>
  </tr>
  <tr>
    <td>link_url</td>
    <td>
      <%= @trial.link_url %></td>
  </tr>
  <tr>
    <td>link_description</td>
    <td>
      <%= @trial.link_description %></td>
  </tr>
  <tr>
    <td>firstreceived_date</td>
    <td>
      <%= @trial.firstreceived_date %></td>
  </tr>
  <tr>
    <td>lastchanged_date</td>
    <td>
      <%= @trial.lastchanged_date %></td>
  </tr>
  <tr>
    <td>verification_date</td>
    <td>
      <%= @trial.verification_date %></td>
  </tr>
  <tr>
    <td>keyword</td>
    <td>
      <%= @trial.keyword %></td>
  </tr>
  <tr>
    <td>is_fda_regulated</td>
    <td>
      <%= @trial.is_fda_regulated %></td>
  </tr>
  <tr>
    <td>has_expanded_access</td>
    <td>
      <%= @trial.has_expanded_access %></td>
  </tr>
</table>

<h3>Site Locations</h3>
  <ul>
    <% @sites.each do |site| %>
    <li><%= "#{site.facility}" %> </li>
    <!-- @TODO? Put in conditional logic to display decimal point if less than 5 miles -->
    <!-- "#{site.distance_from([40.7522926,-73.9900131]).round()} miles away from you" -->
    <p><%= "#{site.city} #{site.state} #{site.country} #{site.zip_code}" %></p>
    <p><%= "Latitude: #{site.latitude} Longitude: #{site.longitude}" %></p>
    <p><%=  "#{site.contact_name}
        #{site.contact_phone}
        #{site.contact_phone_ext}
        #{site.contact_phone_email}" %></p>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
