<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="Xmwy8KVgwQ-9eQQZI5IW1ZXNebJfCZr28cE0h_M44QM" />
	<title>Clinical Trials | National Brain Tumor Society</title>


	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="http://blog.braintumor.org/favicon.ico?v=2" />
	<!-- CALL IE8-only STYLES -->
	<!--[if IE 8]><link rel="stylesheet" href="http://blog.braintumor.org/wp-content/themes/blankslate/ie.css" id="old-ie"><![endif]-->
	<!-- CALL MAIN SITE STYLES -->
	<!--[if gte IE 9]><!--><link rel="stylesheet" href="http://blog.braintumor.org/wp-content/themes/blankslate/style.css"><!--<![endif]-->
	<!-- CALL GOOGLE API FONT STYLESHEET FOR OPEN SANS -->
	<!-- CALL MODERNIZR SCRIPT -->
	<!--[if gte IE 8]><!--><link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700italic,700' rel='stylesheet' type='text/css'>
	<script src="http://blog.braintumor.org/wp-content/themes/blankslate/js/vendor/modernizr.custom.04808.js"></script><!--<![endif]-->
    <!-- socialize.js script should only be included once -->
	<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_0rh_PIXKeng_rY4zI3RdUFGuQYvvCztwvAL85O8vhHLW2sC_7Gvh3zbzcgtYZmFo"></script>
    <link rel="alternate" type="application/rss+xml" title="News &amp; Blog | National Brain Tumor Society &raquo; Feed" href="http://blog.braintumor.org/feed/" />
<link rel="alternate" type="application/rss+xml" title="News &amp; Blog | National Brain Tumor Society &raquo; Comments Feed" href="http://blog.braintumor.org/comments/feed/" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://blog.braintumor.org/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://blog.braintumor.org/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.5.2" />
	  <%= stylesheet_link_tag :application %>
	<%= javascript_include_tag "application" %>
  	  <%= csrf_meta_tag %>
<style type="text/css">
.taxonomy-drilldown-lists p,
.taxonomy-drilldown-checkboxes p,
.taxonomy-drilldown-dropdowns p {
	margin-top: 1em;
}

.taxonomy-drilldown-checkboxes li,
.taxonomy-drilldown-dropdowns li {
	list-style: none;
}

.taxonomy-drilldown-dropdowns select {
	display: block;
}
</style>



</head>
<body>
	 <!-- START WEBSITE HEADER -->
	<header id="header">
		<div class="wrapper">

			<a href="http://www.braintumor.org/" id="logo"><img src="http://blog.braintumor.org/wp-content/themes/blankslate/images/logo-nbts.png" alt="National Brain Tumor Society"></a>
			<a href="#menu" class="menu-link">
				<span class="search">Search</span>
				<span class="menu">Menu</span>
			</a>



			<form action="http://braintumor.pub30.convio.net/search.html" method="get"><fieldset><legend>Site Search</legend> <label for="search-input">Search term</label> <input id="search-input" name="query" placeholder="Search" title="Search" type="text" /> <label for="search-submit">Submit</label> <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button></fieldset></form>


			<div class="social-links">
            
            
            
				<a href="https://www.facebook.com/braintumors" class="fb">Facebook</a>
				<a href="https://twitter.com/NBTStweets" class="twitter">Twitter</a>
				<a href="http://www.youtube.com/user/NBTSvideo" class="yt">YouTube</a>
				<a href="http://www.flickr.com/photos/nbts/" class="flickr">Flickr</a>
			</div>
			<div class="quick-links">
				<a href="http://braintumor.org/brain-tumor-facts/">Brain Tumor Facts</a>
<a href="http://blog.braintumor.org/">| News &#038; Blog</a>
			</div>

		</div>
	</header>
    <!-- END WEBSITE HEADER -->

<nav id="nav" class="nav">
		<!-- START PRIMARY NAVIGATION -->
		<div class="primary_nav"><ul id="menu-primary-navigation" class="primary"><li id="menu-item-85" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-85"><a href="http://braintumor.org/about-us/">About Us</a>
<ul class="subpages">
	<li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-90"><a href="http://braintumor.org/about-us/our-impact/">Our Impact</a></li>
	<li id="menu-item-92" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-92"><a href="http://braintumor.org/about-us/summit/">Summit</a></li>
	<li id="menu-item-91" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-91"><a href="http://blog.braintumor.org/">News &#038; Blog</a></li>
	<li id="menu-item-93" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93"><a href="http://braintumor.org/about-us/collaborations/">Collaborations</a></li>
	<li id="menu-item-94" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-94"><a href="http://braintumor.org/about-us/leadership-staff/">Leadership &#038; Staff</a></li>
	<li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-95"><a href="http://braintumor.org/about-us/accomplishments-and-financials/">Accomplishments &#038; Financials</a></li>
	<li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-96"><a href="http://braintumor.org/about-us/contact-us/">Contact Us</a></li>
	<li id="menu-item-298" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-298"><a href="http://braintumor.org/about-us/careers/">Careers</a></li>
</ul>
</li>
<li id="menu-item-86" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86"><a href="http://braintumor.org/advance-research/">Advance Research</a>
<ul class="subpages">
	<li id="menu-item-97" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-97"><a href="http://braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a></li>
	<li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98"><a href="http://braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &#038; Accomplishments</a></li>
	<li id="menu-item-99" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-99"><a href="http://braintumor.org/advanced-research/research-funding-opportunities/">Research Funding Opportunities</a></li>
</ul>
</li>
<li id="menu-item-87" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87"><a href="http://braintumor.org/advocate-for-issues/">Advocate for Policy</a>
<ul class="subpages">
	<li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-101"><a href="http://braintumor.org/advocate-for-issues/legislative-agenda/">Legislative Agenda</a></li>
	<li id="menu-item-102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102"><a href="http://braintumor.org/advocate-for-issues/updates-alerts-polls/">Updates, Alerts &#038; Polls</a></li>
	<li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-103"><a href="http://braintumor.org/advocate-for-issues/tools-training/">Tools and Training</a></li>
	<li id="menu-item-104" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-104"><a href="http://braintumor.org/advocate-for-issues/advocates-in-action/">Advocates in Action</a></li>
</ul>
</li>
<li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88"><a href="http://braintumor.org/join-the-fight/">Join the Fight</a>
<ul class="subpages">
	<li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-106"><a href="http://braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a></li>
	<li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107"><a href="http://braintumor.org/join-the-fight/find_event.html">Find or Start an Event</a></li>
	<li id="menu-item-108" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-108"><a href="http://braintumor.org/join-the-fight/change_policy.html">Change Policy</a></li>
	<li id="menu-item-109" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-109"><a href="http://braintumor.org/join-the-fight/volunteer/">Volunteer</a></li>
	<li id="menu-item-110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110"><a href="http://braintumor.org/join-the-fight/honor_your_loved_ones.html">Honor Your Loved Ones</a></li>
</ul>
</li>
<li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a href="https://secure2.convio.net/bts/site/Donation2?df_id=3940&amp;3940.donation=form1">Donate</a></li>
</ul></div>		<!-- END PRIMARY NAVIGATION -->
	
	
		<!-- START SECONDARY NAVIGATION -->
        <div class="secondary">
			<a href="http://blog.braintumor.org/">Blog</a>
<a href="http://blog.braintumor.org/media-center/">Media Center</a>
<a href="http://blog.braintumor.org/enewsletter/">eNewsletter</a>
        </div>
		<!-- END SECONDARY NAVIGATION -->
				
	
	
	
</nav>

<article>

<!-- START ARTICLE HEADER -->
<header class="article-header landing">
	<div class="wrapper">

<!-- <div id="sharebarDiv"></div> -->
		
        	<script type="text/javascript">
			
			
			
			if (document.getElementById('sharebarDiv')) {
  				var act = new gigya.socialize.UserAction();
				act.setTitle("News &amp; Blog | National Brain Tumor Society");
  				var showShareBarUI_params = {
  					containerID: 'sharebarDiv',
  					shareButtons: 'Share',
  					showCounts: 'none',
  					userAction: act,
  					buttonImages:{buttonLeftImgUp:'http://blog.braintumor.org/wp-content/themes/blankslate/images/share-bttn.png',buttonCenterBGImgUp:null,buttonRightImgUp:null}
  				}
				gigya.socialize.showShareBarUI(showShareBarUI_params);
			}				
                        
			
			
			
			</script>

	<% if user_signed_in? %>
	  <div style="float:right;">Hi <%= current_user.email %><%= current_user.username %>!</div>
	  <br> <div style="float:right;"><%= link_to "Edit Account",edit_user_registration_path%> &nbsp; <%= link_to "Log Out",destroy_user_session_path, :method =>'delete' %> </div>
	<% else %>
		<div style="float:right;"><%= link_to "Register", new_user_registration_path %>&nbsp;/&nbsp;<%= link_to "Log In", new_user_session_path %>  </div>

	<% end %>
        
	<h1 id="h">
		<a href="/">
    		Browse Clinical Trials
    	</a>
    </h1>

	</div>
</header>
<!-- END ARTICLE HEADER -->

<!-- START COLUMNS WRAPPER -->
<div class="columns wrapper">	<!-- START MAIN CONTENT COLUMN -->



<p style="float:left;" class="notice"><%= notice %></p>
<p style="float:left;" class="alert"><%= alert %></p>
 <div style="clear:both;"></div>
<%= yield %>


	<!-- END MAIN CONTENT COLUMN -->
    
	    <!-------------------------------------------------------------->
    
    	<!-- START SIDEBAR COLUMN -->
	
	<!-- END SIDEBAR COLUMN -->

    
    

<!-- START SHARE FOOTER - visible on mobile layout  -->
<footer class="share wrapper">
	<span class="addthis_button">Share</span>
</footer>
<!-- END SHARE FOOTER  -->

</div>
<!-- END COLUMNS WRAPPER -->

</article>



<!-- START STAY CONNECTED BAR -->
<aside id="stay-connected">
	<div class="wrapper">
		<h2><span>Stay</span> Connected</h2>
		<form>
			<fieldset>
				<legend>Email Newsletter Signup Form</legend>
			
				<label for="first_name">First Name</label>
				<input type="text" id="first_name" value="" placeholder="First Name">

				<label for="last_name">Last Name</label>
				<input type="text" id="last_name" value="" placeholder="Last Name">


				<label for="email">Email Address</label>
				<input id="email" type="email" value="" placeholder="Email Address">

				<button type="submit">Sign Up</button>

			</fieldset>

		</form>
	</div>
</aside>
<!-- END STAY CONNECTED BAR -->
<!-- START FOOTER -->
<footer id="footer">

	<!-- START SEARCH BY CONNECTION MENU -->

	<div class="search-by-connection wrapper">
		<p>Search By Connection:</p>
			<a href="http://www.braintumor.org/patients-family-friends/">Patients &#038; Families</a>
<a href="http://www.braintumor.org/get-involved/advocacy-public-policy/">Advocates</a>
<a href="http://www.braintumor.org/giving/">Supporters</a>
<a href="http://www.braintumor.org/research/">Researchers</a>
<a href="http://www.braintumor.org/giving/ways-to-give/#CorporationsFoundations">Industry</a>
<a href="http://www.braintumor.org/news/press-kit/">Media</a>
	</div>
	
    <!-- END SEARCH BY CONNECTION MENU -->
    
    <!-- START FOOTER SITE NAVIGATION -->
	
	<nav id="menu" class="wrapper">
    	<ul id="menu-footer-navigation" class="menu"><li id="menu-item-149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149"><a href="http://www.braintumor.org/brain-tumor-facts/">Brain Tumor Facts</a>
<ul class="sub-menu">
	<li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="http://www.braintumor.org/brain-tumor-facts/recently-diagnosed/">Recently Diagnosed?</a></li>
	<li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="http://www.braintumor.org/brain-tumor-facts/treatment-options/">Treatment Options</a></li>
	<li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153"><a href="http://www.braintumor.org/brain-tumor-facts/living-with-a-brain-tumor/">Living with a Brain Tumor</a></li>
	<li id="menu-item-154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"><a href="http://www.braintumor.org/brain-tumor-facts/caregiver-resources/">Caregiver Resources</a></li>
</ul>
</li>
<li id="menu-item-123" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-123"><a href="http://braintumor.org/about-us/">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124"><a href="http://braintumor.org/about-us/our-impact/">Our Impact</a></li>
	<li id="menu-item-126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126"><a href="http://braintumor.org/about-us/summit/">Summit</a></li>
	<li id="menu-item-125" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-125"><a href="http://blog.braintumor.org/">News &#038; Blog</a></li>
	<li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-127"><a href="http://braintumor.org/about-us/partnership/">Collaborations</a></li>
	<li id="menu-item-128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-128"><a href="http://braintumor.org/about-us/leadership-staff/">Leadership &#038; Staff</a></li>
	<li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129"><a href="http://braintumor.org/about-us/accomplishments-and-financials/">Accomplishments &#038; Financials</a></li>
	<li id="menu-item-297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-297"><a href="http://braintumor.org/about-us/careers/">Careers</a></li>
	<li id="menu-item-130" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-130"><a href="http://braintumor.org/about-us/contact-us/">Contact Us</a></li>
</ul>
</li>
<li id="menu-item-131" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-131"><a href="http://braintumor.org/advance-research/">Advance Research</a>
<ul class="sub-menu">
	<li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a href="http://braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a></li>
	<li id="menu-item-133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133"><a href="http://braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &#038; Accomplishments</a></li>
	<li id="menu-item-134" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-134"><a href="http://braintumor.org/advanced-research/research-funding-opportunities/">Research Funding Opportunities</a></li>
</ul>
</li>
<li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a href="http://braintumor.org/advocate-for-issues/">Advocate for Issues</a>
<ul class="sub-menu">
	<li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-137"><a href="http://braintumor.org/advocate-for-issues/legislative-agenda/">Legislative Agenda</a></li>
	<li id="menu-item-138" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-138"><a href="http://braintumor.org/advocate-for-issues/updates-alerts-polls/">Updates, Alerts &#038; Polls</a></li>
	<li id="menu-item-139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-139"><a href="http://braintumor.org/advocate-for-issues/tools-training/">Tools and Training</a></li>
	<li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-140"><a href="http://braintumor.org/advocate-for-issues/advocates-in-action/">Advocates in Action</a></li>
</ul>
</li>
<li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142"><a href="http://braintumor.org/join-the-fight/">Join the Fight</a>
<ul class="sub-menu">
	<li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143"><a href="http://braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a></li>
	<li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144"><a href="http://braintumor.org/join-the-fight/find_event.html">Find or Start an Event</a></li>
	<li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145"><a href="http://braintumor.org/join-the-fight/change_policy.html">Change Policy</a></li>
	<li id="menu-item-146" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-146"><a href="http://braintumor.org/join-the-fight/volunteer/">Volunteer</a></li>
	<li id="menu-item-147" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-147"><a href="http://braintumor.org/join-the-fight/honor_your_loved_ones.html">Honor Your Loved Ones</a></li>
</ul>
</li>
<li id="menu-item-155" class="active menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-155"><a href="http://blog.braintumor.org/">News &#038; Blog</a>
<ul class="sub-menu">
	<li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-158"><a href="http://blog.braintumor.org/">Blog</a></li>
	<li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="http://blog.braintumor.org/media-center/">Media Center</a></li>
	<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="http://blog.braintumor.org/enewsletter/">eNewsletter</a></li>
</ul>
</li>
</ul>		
		<a href="https://secure2.convio.net/bts/site/Donation2?df_id=3940&3940.donation=form1" class="donate-link btn btn-orange">Donate</a>


	</nav>
	<!-- END FOOTER SITE NAVIGATION -->

	<!-- START FOOTER META MENU AND SOCIAL LINKS -->
	<div class="meta wrapper">
		<div class="meta-links">
        <a href="http://www.braintumor.org/terms.html">Terms</a>
<a href="http://www.braintumor.org/privacy-policy.html">Privacy</a>
<a href="http://www.braintumor.org/copyright.html">Copyright</a>
		</div>
		<form method="get" action="http://braintumor.pub30.convio.net/search.html">
          <fieldset>
            <legend>Site Search</legend>
            <label for="menu-search-input">Search term</label>
            <input type="text" placeholder="Search" id="menu-search-input" title="Search" name="query" />
            <label for="menu-search-submit">Submit</label>
            <button type='submit' id="menu-search-submit" class="btn-search">Submit</button>
          </fieldset>
        </form>
		
		<div class="social-links">
			<a href="https://www.facebook.com/braintumors" class="fb">Facebook</a>
				<a href="https://twitter.com/NBTStweets" class="twitter">Twitter</a>
				<a href="http://www.youtube.com/user/NBTSvideo" class="yt">YouTube</a>
				<a href="http://www.flickr.com/photos/nbts/" class="flickr">Flickr</a>
		</div>

	</div>
	<!-- END FOOTER META MENU AND SOCIAL LINKS -->



</footer>
<!-- END FOOTER -->

<script src="http://blog.braintumor.org/wp-content/themes/blankslate/js/scripts.js"></script><!-- CALL COMBINED SCRIPTS -->
<!--<![endif]-->

</body>
</html>

